/* Variables */

:root{
    --noir:#1C1C1C;
    --jaune:#EA9F06;
    --textes:#212121;
    --articles:#F3F3F3;
    --footer:#373737;
    --reduction:#292929;
    --navfooter:#D1D1D1;
    --font:'Arimo', sans-serif;
}

/* Style HTML */

html{
    font-size: 62.5%;
}

/* Style "body" */

body{
    background-color: var(--noir);
}

/* Style "container" pour la globalité de la page */

#container{
    width: 100%;
    margin: auto;
}

/* Style "container2" pour le "main" */

#container2{
    width: 80%;
    margin: auto;
}

/* Style "header" */

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-image: url(../img/background.jpg);
}

header h1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3rem 0 0 0;
    color: var(--noir);
}

header span{
    color: var(--jaune);
}

/* Style "Nav + Compte" */

header .menu1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu1>:nth-child(1){
    align-self: flex-end;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--noir);
    padding: 2rem 0 0 0;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--noir);
    padding: 7rem 0 0 0;
    transition: 500ms;
}

nav>:nth-child(1){
    padding-right: 2rem;
}

nav>:nth-child(2){
    padding-right: 2rem;
}

/* Style "main" */

main{
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: auto;
}

/* Style section 01 */

.section01 .img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
}

/* Style section 02 */

.section02{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
}

/* Style "artciles 1" */

.articles1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.articles1 h2{
    background-color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

/* Style pour le bloc "-45%" n°1 */

.reduc1{
    background-color: var(--reduction);
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--jaune);
    border-radius: 5px;
    padding: 1rem;
    top: 10px;
    left: 320px;
    position: absolute;
}

.prix1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem;
}

/* Style "button" "Voir la vente" n°1 */

.prix1 input{
    background: rgb(54,54,54);
    background: linear-gradient(0deg, rgba(54,54,54,1) 50%, rgba(154,154,154,1) 100%);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
}

.prix1>:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem 1rem .5rem;
    width: 15%;
    text-align: center;
    text-decoration: line-through;
}

.prix1>:nth-child(3){
    color: var(--jaune);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem 1rem .5rem;
    width: 15%;
    text-align: center;
}

/* Style "articles 02" */

.articles2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.articles2 h2{
    background-color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

/* Style pour le bloc "-45%" n°2 */

.reduc2{
    background-color: var(--reduction);
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--jaune);
    border-radius: 5px;
    padding: 1rem;
    top: 10px;
    left: 320px;
    position: absolute;
}

.prix2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem;
}

/* Style "button" "Voir la vente" n°2 */

.prix2 input{
    background: rgb(54,54,54);
    background: linear-gradient(0deg, rgba(54,54,54,1) 50%, rgba(154,154,154,1) 100%);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
}

.prix2>:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem 1rem .5rem;
    width: 15%;
    text-align: center;
    text-decoration: line-through;
}

.prix2>:nth-child(3){
    color: var(--jaune);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem 1rem .5rem;
    width: 15%;
    text-align: center;
}

/* Style section 03 */

.section03{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0 0 0;
    padding-bottom: 15rem;
}

/* Style articles 03 */

.articles3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.articles3 h2{
    background-color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

/* Style pour le bloc "-45%" n°3 */

.reduc3{
    background-color: var(--reduction);
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--jaune);
    border-radius: 5px;
    padding: 1rem;
    top: 10px;
    left: 320px;
    position: absolute;
}

.prix3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem;
}

/* Style "button" "Voir la vente" n°3 */

.prix3 input{
    background: rgb(54,54,54);
    background: linear-gradient(0deg, rgba(54,54,54,1) 50%, rgba(154,154,154,1) 100%);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
}

.prix3>:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem 1rem .5rem;
    width: 15%;
    text-align: center;
    text-decoration: line-through;
}

.prix3>:nth-child(3){
    color: var(--jaune);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem 1rem .5rem;
    width: 15%;
    text-align: center;
}

/* Style articles 04 */

.articles4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.articles4 h2{
    background-color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

/* Style pour le bloc "-45%" n°4 */

.reduc4{
    background-color: var(--reduction);
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--jaune);
    border-radius: 5px;
    padding: 1rem;
    top: 10px;
    left: 320px;
    position: absolute;
}

.prix4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem;
}

/* Style "button" "Voir la vente" n°4 */

.prix4 input{
    background: rgb(54,54,54);
    background: linear-gradient(0deg, rgba(54,54,54,1) 50%, rgba(154,154,154,1) 100%);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
}

.prix4>:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem 1rem .5rem;
    width: 15%;
    text-align: center;
    text-decoration: line-through;
}

.prix4>:nth-child(3){
    color: var(--jaune);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem 1rem .5rem;
    width: 15%;
    text-align: center;
}

/* Style "footer" */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--footer);
    position: relative;
}

/* Style "nav footer" */

footer .navbis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    width: 40%;
    padding: 1rem 0 1rem 0;
    position: absolute;
    top: -30px;
}

.navbis a{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textes);
    padding: 1rem 0 1rem 0;
    width: 25%;
    transition: 500ms;
}

.navbis .material-icons{
    font-size: 2rem;
    color: var(--navfooter);
}

/* Style footer bis */

.logos1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 6rem 0 2rem 0;
    border-bottom: 2px solid var(--navfooter);
}

.logos1 div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.logos1 p{
    text-align: center;
    color: white;
    padding: 1rem 0 1rem 0;
}

/* Style "footer ter" */

.logos2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos2 img{
    padding: 2rem;
    margin-top: 1rem;
    transition: 500ms;
}

footer p{
    color: var(--articles);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}